/*
 * Wrap
*/
html > body#hy-wrap {
  background: var(--homey-color-white);
  display: flex;
  flex-direction: column;
  padding: 0 !important; /* Remove default padding for App Settings: This value shouldn't be overwritten */
}

/**
 * Header
 */
#hy-header {
  padding: 0 var(--homey-su-4);
}

/*
 * Navigation
*/
#hy-nav {
  position: relative;
  flex-shrink: 0;
  padding: var(--homey-su-2);

  transition: all 0.3s;

  display: none;
}

#hy-nav::before {
  content: '';
  position: absolute;
  height: var(--homey-su-2);
  background: linear-gradient(180deg, var(--homey-color-white-o-0), var(--homey-color-white));
  bottom: 100%;
  left: var(--homey-su-2);
  right: var(--homey-su-2);
  pointer-events: none;
  z-index: 10;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

#hy-nav.visible {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-gap: var(--homey-su-1);
}

#hy-nav > button:not(.visible) {
  opacity: 0 !important;
  display: none !important;
}

#hy-nav-close:not(.visible) {
  display: none !important;
}

#hy-nav-close.visible + #hy-nav-prev,
#hy-nav-close.visible + #hy-nav-prev + #hy-nav-next,
#hy-nav-close.visible + #hy-nav-prev + #hy-nav-next + #hy-nav-continue {
  display: none;
}

#hy-nav-prev {
  justify-self: start;
}
/*
 * Overlay
*/
#hy-overlay-loading {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  padding: var(--homey-su-2);
}

#hy-wrap.overlay-loading #hy-overlay-loading {
  opacity: 1;
  visibility: visible;
}

#hy-overlay i {
  color: #aaa;
}

#hy-overlay-loading-throbber {
  width: 28px;
  height: 28px;
  margin-bottom: 1em;
  opacity: 0.2;
}

#hy-overlay-loading-message {
  text-align: center;
  white-space: pre-line;
}

#hy-wrap.overlay #hy-heading,
#hy-wrap.overlay #hy-views,
#hy-wrap.overlay #hy-nav {
  filter: blur(5px);
}

@keyframes hy-throbber-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 * Views
*/
#hy-views {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

#hy-views > .hy-view {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;
  box-sizing: border-box;
  padding: 0 var(--homey-su-2) var(--homey-su-2) var(--homey-su-2) !important;
}

#hy-views > .hy-view.visible {
  opacity: 1;
  visibility: visible;
}

/*
 * Legacy for pre-Homey v2.0.0 compatibility
 */
.loading {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 40%;
  right: 40%;
  text-align: center;
  color: #aaa;
  font-size: 70px;
}

#devices-list,
.deviceclasses-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.deviceclasses-list {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.device {
  position: relative;
  padding: 5px;
  height: 30px;
  margin-bottom: 5px;
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  line-height: 30px;
  cursor: pointer;
}

.device:hover {
  box-shadow: inset 0 -3px 15px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.deviceclasses-list .device[data-id='socket'] {
  order: 20;
  margin-top: 10px;
}

.device .overlay {
  display: block;
  content: '';
  position: absolute;
  left: 1.5em;
  top: 0;
  bottom: 0;
  right: 1.5em;
}

.device.selected .overlay {
  display: none;
}

.device * {
  cursor: pointer;
}

.device label.name {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 45px;
}

.device .icon[style] {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  background: #333;
  vertical-align: middle;
  margin-left: 0.25em;
  flex: 0 0 auto;
}

.device span.name {
  padding-inline-start: 5px;
}

.device input.name {
  padding: 5px;
  font-size: 14px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.1s;
  flex: 1 1 auto;
}

.device input.name {
  cursor: text;
}

.device.selected input.name:hover {
  border-color: #ddd;
}

.device.selected input.name:focus {
  background: #fff;
  border-color: #ddd;
}

.device .checkbox,
.device .radio {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  padding-inline-start: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  width: 30px;
  text-align: center;
}

.device .checkbox input:focus,
.device .radio input:focus {
  box-shadow: 0 0 7px rgba(0, 100, 200, 0.5);
  border-radius: 3px;
}
