@font-face {
  font-family: 'NotoSansArabic';
  src: url('NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('NotoSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('NotoSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('NotoSansArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}
